In [ ]:
import pandas as pd

In [ ]:
# - Import a csv file
df = pd.read_csv("/content/employees (1).csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  63 non-null     object
 1   Span    63 non-null     object
 2   Mat     63 non-null     int64
 3   Inns    63 non-null     int64
 4   NO      63 non-null     int64
 5   Runs    63 non-null     int64
 6   HS      63 non-null     object
 7   Ave     63 non-null     float64
 8   BF      61 non-null     object
 9   SR      63 non-null     float64
 10  100     63 non-null     int64
 11  50      63 non-null     int64
 12  0       63 non-null     int64
 13  4s      63 non-null     int64
 14  6s      63 non-null     int64
dtypes: float64(2), int64(9), object(4)
memory usage: 7.5+ KB

In [ ]:
# Calculate Average Income for Each Department
# df1.groupby("department")["Income"].mean()

department
Finance           5000.0
Human Resource    9000.0
It                6000.0
supply chain      7000.0
Name: Income, dtype: float64

In [ ]:
# Find Employees With Income Above 7000
# df1[df1["Income"]> 7000]

   Name  Employee_Number  Income  Age      department
23  Ana         26735655    9000   26  Human Resource

In [ ]:
# Count the Number of Employees in Each Department
# df1["department"].value_counts()

department
It                1
Human Resource    1
Finance           1
supply chain      1
Name: count, dtype: int64

In [ ]:
# df1.filter(df1[df1["Income"] ==7000][["Name", "Age"]])

       Name  Age
12  Yohanna   32
23      Ana   26
34     Josh   35
56     Mike   19

Certainly Here are five key differences between Exploratory Data Analysis (EDA) and Time Series Analysis, each explained in five lines:

1. `Purpose and Scope`
EDA: Focuses on understanding the dataset's structure, identifying patterns, and testing hypotheses without assuming any specific distribution or relationship.
Time Series Analysis: Specifically targets data collected over time, aiming to extract meaningful statistics and forecast future values based on historical data.
2. `Approach to Data`
EDA: Uses a combination of visualizations and summary statistics to explore the data iteratively, looking for insights without preconceived notions.
Time Series Analysis: Involves fitting statistical models to the data, considering the temporal order of observations and the impact of factors like trend, seasonality, and cyclicity.
3. `Use of Models`
EDA: Primarily non-model-based, relying on exploratory techniques to uncover insights about the data.
Time Series Analysis: Model-based, employing statistical models to analyze and forecast time-dependent data accurately.
4. `Visualization Techniques`
EDA: Emphasizes a wide range of visualization tools (e.g., histograms, scatter plots, box plots) to reveal patterns and relationships in the data.
Time Series Analysis: Utilizes specific types of graphs (e.g., time series plots, autocorrelation plots) to examine the temporal dynamics and dependencies in the data.
5. `Predictive Capabilities`
EDA: While insightful, does not inherently provide predictive capabilities; it's more about understanding what has happened rather than predicting what will happen.
Time Series Analysis: Aims to use historical data to make predictions about future values, making it a cornerstone technique in forecasting and planning.
These differences highlight the distinct roles and applications of EDA and Time Series Analysis in the field of data science and analytics.

In [ ]:
# - Import a csv file
df = pd.read_excel("/espn.xlsx")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  63 non-null     object
 1   Span    63 non-null     object
 2   Mat     63 non-null     int64
 3   Inns    63 non-null     int64
 4   NO      63 non-null     int64
 5   Runs    63 non-null     int64
 6   HS      63 non-null     object
 7   Ave     63 non-null     float64
 8   BF      61 non-null     object
 9   SR      63 non-null     float64
 10  100     63 non-null     int64
 11  50      63 non-null     int64
 12  0       63 non-null     int64
 13  4s      63 non-null     int64
 14  6s      63 non-null     int64
dtypes: float64(2), int64(9), object(4)
memory usage: 7.5+ KB

In [ ]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [ ]:
df.tail()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [ ]:
df = df.rename(columns={"Mat":"Matches_Played","Inns":"Innings_Played","NO":"Nots_Outs","HS":"Highest_Inns_Score","Ave":"Batting_Average","BF":"Balls_Faced","SR":"Strike_Rate"})
df

,Player,Span,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [ ]:
df.isnull().any()

Player                False
Span                  False
Matches_Played        False
Innings_Played        False
Nots_Outs             False
Runs                  False
Highest_Inns_Score    False
Batting_Average       False
Balls_Faced            True
Strike_Rate           False
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [ ]:
df[df["Balls_Faced"].isna()]

,Player,Span,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258,2
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107,11

In [ ]:
df["Balls_Faced"] = df["Balls_Faced"].fillna(0)
df[df["Player"]=="CL Walcott (WI)"]

,Player,Span,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1,107,11

In [ ]:
df.isnull().any()

Player                False
Span                  False
Matches_Played        False
Innings_Played        False
Nots_Outs             False
Runs                  False
Highest_Inns_Score    False
Batting_Average       False
Balls_Faced           False
Strike_Rate           False
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 63, dtype: bool

In [ ]:
df[df["Player"].duplicated()]

,Player,Span,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
7,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125,4

In [ ]:
df.drop_duplicates()
df

,Player,Span,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [ ]:
df["Initial_Year"] = df["Span"].str.split("-").str[0]
df["Retirement_Year"] = df["Span"].str.split("-").str[1]
df

,Player,Span,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [ ]:
df = df.drop(["Span"] , axis=1)
df

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
59,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
61,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
62,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [ ]:
df["Highest_Inns_Score"] = df["Highest_Inns_Score"].str.split("*").str[0]
df["Balls_Faced"] = df["Balls_Faced"].str.split("+").str[0]
df

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
59,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
61,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
62,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [ ]:
df["Country"] = df["Player"].str.split("(").str[1]

In [ ]:
df["Country"] = df["Country"].str.split(")").str[0]

In [ ]:
df["Player"] = df["Player"].str.split("(").str[0].str.strip()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              63 non-null     object
 1   Matches_Played      63 non-null     int64
 2   Innings_Played      63 non-null     int64
 3   Nots_Outs           63 non-null     int64
 4   Runs                63 non-null     int64
 5   Highest_Inns_Score  63 non-null     object
 6   Batting_Average     63 non-null     float64
 7   Balls_Faced         61 non-null     object
 8   Strike_Rate         63 non-null     float64
 9   100                 63 non-null     int64
 10  50                  63 non-null     int64
 11  0                   63 non-null     int64
 12  4s                  63 non-null     int64
 13  6s                  63 non-null     int64
 14  Initial_Year        63 non-null     object
 15  Retirement_Year     63 non-null     object
 16  Country             63 non-null     object
dtypes: float64(2), int64(9), object(6)
memory usage: 8.5+ KB

In [ ]:
df = df.astype({"Highest_Inns_Score":int,"Balls_Faced":int,"Initial_Year":int,"Retirement_Year":int})

ValueError: cannot convert float NaN to integer: Error while type casting for column 'Balls_Faced'

In [ ]:
df.isnull().any()

Player                False
Matches_Played        False
Innings_Played        False
Nots_Outs             False
Runs                  False
Highest_Inns_Score    False
Batting_Average       False
Balls_Faced            True
Strike_Rate           False
100                   False
50                    False
0                     False
4s                    False
6s                    False
Initial_Year          False
Retirement_Year       False
Country               False
dtype: bool

In [ ]:
df["Balls_Faced"] = df["Balls_Faced"].fillna(0)
df[df["Player"]=="CL Walcott"]

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country
15,CL Walcott,44,74,7,3798,220,56.68,0,0.0,15,14,1,107,11,1948,1960,WI

In [ ]:
df.isnull().any()

Player                False
Matches_Played        False
Innings_Played        False
Nots_Outs             False
Runs                  False
Highest_Inns_Score    False
Batting_Average       False
Balls_Faced           False
Strike_Rate           False
100                   False
50                    False
0                     False
4s                    False
6s                    False
Initial_Year          False
Retirement_Year       False
Country               False
dtype: bool

In [ ]:
df = df.astype({"Highest_Inns_Score":int,"Balls_Faced":int,"Initial_Year":int,"Retirement_Year":int})

In [ ]:
df[df["Player"]=="Hon.FS Jackson"] = df[df["Balls_Faced"]=="-"].replace("-",0)

In [ ]:
df[df["Balls_Faced"]=="-"]

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country
55,Hon.FS Jackson,20,33,4,1415,144,48.79,-,0.0,5,6,3,51,0,1893,1905,ENG

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              63 non-null     object
 1   Matches_Played      63 non-null     int64
 2   Innings_Played      63 non-null     int64
 3   Nots_Outs           63 non-null     int64
 4   Runs                63 non-null     int64
 5   Highest_Inns_Score  63 non-null     object
 6   Batting_Average     63 non-null     float64
 7   Balls_Faced         63 non-null     object
 8   Strike_Rate         63 non-null     float64
 9   100                 63 non-null     int64
 10  50                  63 non-null     int64
 11  0                   63 non-null     int64
 12  4s                  63 non-null     int64
 13  6s                  63 non-null     int64
 14  Initial_Year        63 non-null     object
 15  Retirement_Year     63 non-null     object
 16  Country             63 non-null     object
dtypes: float64(2), int64(9), object(6)
memory usage: 8.5+ KB

In [ ]:
df["Career_Span"] = df["Retirement_Year"] - df["Initial_Year"]

In [ ]:
df

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Run_Rate,Career_Span
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,87.450000,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,59.050000,1
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,47.903226,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,55.024390,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,54.750000,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,42.856000,16
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,45.195122,12
60,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,44.208333,10
61,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,44.322581,8
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,39.272727,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              63 non-null     object
 1   Matches_Played      63 non-null     int64
 2   Innings_Played      63 non-null     int64
 3   Nots_Outs           63 non-null     int64
 4   Runs                63 non-null     int64
 5   Highest_Inns_Score  63 non-null     int64
 6   Batting_Average     63 non-null     float64
 7   Balls_Faced         63 non-null     int64
 8   Strike_Rate         63 non-null     float64
 9   100                 63 non-null     int64
 10  50                  63 non-null     int64
 11  0                   63 non-null     int64
 12  4s                  63 non-null     int64
 13  6s                  63 non-null     int64
 14  Initial_Year        63 non-null     int64
 15  Retirement_Year     63 non-null     int64
 16  Country             63 non-null     object
 17  Run_Rate            63 non-null     float64
 18  Career_Span         63 non-null     int64
dtypes: float64(3), int64(14), object(2)
memory usage: 9.5+ KB

In [ ]:
df.describe()

,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Run_Rate,Career_Span
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,79.349206,134.428571,14.000000,6359.285714,249.079365,53.685238,9950.952381,47.459683,19.126984,28.317460,7.761905,646.000000,27.031746,1970.380952,1983.492063,47.898727,13.111111
std,50.997204,86.896437,11.123935,4034.488549,61.008540,7.188137,9131.917997,15.485213,12.429793,18.683118,5.537888,523.353116,27.090629,34.921769,34.100361,6.423646,5.579661
min,12.000000,20.000000,1.000000,990.000000,122.000000,48.000000,0.000000,0.000000,1.000000,3.000000,1.000000,37.000000,0.000000,1893.000000,1905.000000,39.272727,1.000000
25%,26.000000,44.500000,5.000000,2223.000000,206.000000,49.520000,1811.000000,42.465000,7.000000,10.500000,3.000000,144.500000,5.000000,1936.000000,1954.500000,44.325412,9.500000
50%,79.000000,132.000000,12.000000,6235.000000,243.000000,51.620000,7809.000000,49.160000,19.000000,28.000000,7.000000,543.000000,20.000000,1976.000000,1993.000000,46.875000,14.000000
75%,117.500000,196.500000,19.000000,8840.000000,277.500000,56.675000,16000.500000,55.035000,29.000000,42.000000,12.000000,1056.000000,41.500000,2000.000000,2013.500000,49.677419,17.000000
max,200.000000,329.000000,49.000000,15921.000000,400.000000,99.940000,31258.000000,91.760000,51.000000,68.000000,22.000000,2058.000000,97.000000,2022.000000,2024.000000,87.450000,24.000000

Questions Asked :

Calculate the median number of runs scored by all players.

Find all players who have never been out for a duck (0 runs).

Identify the player with the highest batting average for each country.

Determine the correlation between 'Matches_Played' and 'Runs'.

List all players who have a career span of more than 15 years.

Find the player with the highest individual score in an innings.

Create a new column 'Run_Rate' as the average runs scored per match and find the top 5 players by this metric.

Calculate the average strike rate of players who started their career in the same year.

Find all players who have scored more than 2000 runs and have a strike rate above 50.

Create a new column 'Total_Boundaries' as the sum of 4s and 6s hit by each player and list the top 5 players by this metric.

In [ ]:
# Calculate the median number of runs scored by all players.
df['Runs'].median()

6235.0

In [ ]:
# Find all players who have never been out for a duck (0 runs).
df['Player'][df['0']==0]

Series([], Name: Player, dtype: object)

In [ ]:
# Identify the player with the highest batting average for each country.
df.groupby("Country")['Batting_Average'].max()

Country
AUS        99.94
ENG        62.15
ICC/IND    52.31
ICC/PAK    49.60
ICC/SA     55.37
ICC/WI     52.88
IND        54.20
NZ         54.98
PAK        52.57
SA         60.97
SL         57.40
WI         60.83
ZIM        51.54
Name: Batting_Average, dtype: float64

In [ ]:
df.loc[df.groupby('Country')['Batting_Average'].idxmax()]

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Run_Rate,Career_Span
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,87.450000,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,59.050000,1
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,46.461538,16
45,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,44.150000,15
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,47.460714,18
25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,51.521552,16
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,51.619048,2
19,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,49.676136,14
26,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,46.730159,17
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,55.024390,7
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,53.218884,15
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,54.750000,24
32,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,42.803571,10

In [ ]:
# Determine the correlation between 'Matches_Played' and 'Runs'.
df[['Matches_Played', 'Runs']].corr()

                Matches_Played      Runs
Matches_Played        1.000000  0.983655
Runs                  0.983655  1.000000

In [ ]:
# List all players who have a career span of more than 15 years.

In [ ]:
df['Player'][df['Career_Span']>15]

0           DG Bradman
4           GA Headley
10          WR Hammond
11           GS Sobers
14            JB Hobbs
16            L Hutton
17           JH Kallis
23           AD Nourse
24        SR Tendulkar
25             BC Lara
26       Javed Miandad
27            R Dravid
29         Younis Khan
30          RT Ponting
34       S Chanderpaul
35         SM Gavaskar
36            SR Waugh
39           AR Border
41        IVA Richards
42         DCS Compton
43    DPMD Jayawardene
48             CP Mead
54          B Mitchell
58          KD Walters
Name: Player, dtype: object

In [ ]:
# Find the player with the highest individual score in an innings.
df['Player'][df["Highest_Inns_Score"].idxmax()]

'BC Lara'

In [ ]:
# Create a new column 'Run_Rate' as the average runs scored per match and find the top 5 players by this metric.

In [ ]:
df['RunRate'] = df['Runs'] / df['Innings_Played']
df["RunRate"]

0     87.450000
1     59.050000
2     47.903226
3     55.024390
4     54.750000
        ...
58    42.856000
59    45.195122
60    44.208333
61    44.322581
62    39.272727
Name: RunRate, Length: 63, dtype: float64

In [ ]:
df.head(5)

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Run_Rate,Career_Span,RunRate
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,87.450000,20,87.450000
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,59.050000,1,59.050000
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,47.903226,1,47.903226
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,55.024390,7,55.024390
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,54.750000,24,54.750000

In [ ]:
df.sort_values("Run_Rate",ascending=False).head(5)

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Run_Rate,Career_Span,RunRate
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,87.45000,20,87.45000
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,59.05000,1,59.05000
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,55.02439,7,55.02439
9,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,55.00000,10,55.00000
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,54.75000,24,54.75000

In [ ]:
# Calculate the average strike rate of players who started their career in the same year.

In [ ]:
# Find all players who have scored more than 2000 runs and have a strike rate above 50.\
df["Player"][df["Runs"]>2000][df['Strike_Rate']>50]

0           DG Bradman
3           RG Pollock
4           GA Headley
11           GS Sobers
12       KC Sangakkara
13           SPD Smith
19       KS Williamson
22         GS Chappell
23           AD Nourse
24        SR Tendulkar
25             BC Lara
28     Mohammad Yousuf
29         Younis Khan
30          RT Ponting
33          MEK Hussey
37           ML Hayden
38      AB de Villiers
41        IVA Richards
43    DPMD Jayawardene
44             JE Root
45      Inzamam-ul-Haq
46       M Labuschagne
49            V Sehwag
51             V Kohli
52           MJ Clarke
59            GC Smith
61           SJ McCabe
Name: Player, dtype: object

In [ ]:
# Create a new column 'Total_Boundaries' as the sum of 4s and 6s hit by each player and list the top 5 players by this metric.
df["Total_Boundaries"]=df['4s']+df['6s']

In [ ]:
df.sort_values("Total_Boundaries",ascending=False).head(5)

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,...,0,4s,6s,Initial_Year,Retirement_Year,Country,Run_Rate,Career_Span,RunRate,Total_Boundaries
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,...,14,2058,69,1989,2013,IND,48.392097,24,48.392097,2127
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,...,8,1654,21,1996,2012,ICC/IND,46.461538,16,46.461538,1675
25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,...,17,1559,88,1990,2006,ICC/WI,51.521552,16,51.521552,1647
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,...,16,1488,97,1995,2013,ICC/SA,47.460714,18,47.460714,1585
30,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,...,17,1509,73,1995,2012,AUS,46.613240,17,46.613240,1582

In [ ]:
df.to_csv("/espn.xlsx")

In [ ]:
df

,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Run_Rate,Career_Span,Total_Boundaries
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,87.450000,20,632
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,59.050000,1,164
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,47.903226,1,191
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,55.024390,7,257
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,54.750000,24,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,42.856000,16,548
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,45.195122,12,1189
60,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,44.208333,10,119
61,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,44.322581,8,246
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,39.272727,6,53